
@model IEnumerable<LoreMaster.Models.CharacterSheet>

@{
    ViewBag.Title = "Character Sheets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Character Sheets</h2>

<p>
    @Html.ActionLink("Add Character", "New")
</p>
<ul>
    @foreach (var sheet in Model)
    {
        if (sheet.Public)
        {
        <li>@sheet.Name (@sheet.Race, @sheet.Class @sheet.Level)</li>
        }
    }
</ul>


