
@model IEnumerable<LoreMaster.Models.CharacterSheet>

@{
    ViewBag.Title = "Character Sheets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Character Sheets</h2>

<p>
    @Html.ActionLink("Add Character", "New")
</p>
<ul>
    @foreach (var sheet in Model)
    {
        if (sheet.Public || sheet.Owner == System.Web.HttpContext.Current.User.Identity.Name)
        {
    <li>@sheet.Name (@sheet.Race, @sheet.Class @sheet.Level) @Html.ActionLink("Edit", "Edit", new { id = sheet.Id })</li>
        }
    }
</ul>


